
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= page.contents.briefDes %>" />

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,300b" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
  <title><%= page.contents.title %> | Pagher</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Pagher">
  <meta name="application-name" content="Pagher">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

  <nav class="navigation navigation-md">
    <a href="/" class="navigation__logo"><img src="/images/pagher-logo.svg" alt="Pagher logo"></a>
    <a href="/public-pages" class="navigation__link">Public Pages</a>
    <a href="/new-page/initial-step" class="navigation__link js--create-page">Create Your Page</a>
    <a href="/login" class="navigation__right-link display-none" id="js--login-md">Login</a>
    <div class="nav-dropdown display-none" id="js--nav-dropdown-md">
      <div class="nav-dropdown__button">
        <a href="javascript:void(0);"><img class="js--user-image" src="/images/users/placeholder.png"></a>
      </div>
      <div class="nav-dropdown__content">
        <a href="/admin/profile"><i class="fa fa-user"></i> Profile</a>
        <a href="/admin/settings"><i class="fa fa-cogs"></i> Setting</a>
        <a href="/admin/pages/published"><i class="fa fa-file-text"></i> Pages</a>
        <a href="javascript:void(0);" onclick="localStorage.removeItem('token');window.location = '/';"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>
  </nav>

  <nav class="navigation navigation-sm">
    <div class="navigation-sm__visible">
      <a href="/" class="navigation__logo"><img src="/images/pagher-logo.svg" alt="Pagher logo"></a>
      <button class="navigation__bar-button" onclick="navOpenerClicked()"><i class="fa fa-bars" aria-hidden="true"></i></button><br>
    </div>
    <div class="navigation-sm__hidden display-none">
        <a href="/public-pages">Public Pages</a>
        <a href="/new-page/initial-step" class="js--create-page">Create Your Page</a>
        <a id="js--login-sm" class="display-none" href="/login">Login</a>
        <div class="nav-dropdown-slider display-none" id="js--nav-dropdown-sm">
          <div class="nav-dropdown-slider__button">
            <a href="javascript:void(0);" onclick="navDropdownClicked(event)" class="">
              <img class="js--user-image" src="/images/users/placeholder.png"><i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
          </div>
          <div class="nav-dropdown-slider__content display-none" id="js--nav-dropdown-slider-content">
            <a href="/admin/profile"><i class="fa fa-user"></i> Profile</a>
            <a href="/admin/settings"><i class="fa fa-cogs"></i> Setting</a>
            <a href="/admin/pages/published"><i class="fa fa-file-text"></i> Pages</a>
            <a href="javascript:void(0);" onclick="localStorage.removeItem('token');window.location = '/';"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
    </div>
  </nav>

  <div class="react-container" name="showPage">
    <div class="row">
      <div class="page">
        <div class="page__header">
          <div id="actions"></div> <!-- react container -->
          <h2 class="page__header__title"><%= page.contents.title %></h2>
          <span class="page__header__time"><%= timeAgo %></span>
        </div>

        <div id="photo"></div> <!-- react container -->

        <div class="page__contents">
          <div class="page__information">
            <div>
              <h3>Brief Description</h3>
              <p><%= page.contents.briefDes %></p>
            </div>
            <div>
              <h3>Who this page is for?</h3>
              <p><%= page.contents.targets %></p>
            </div>
          </div>
          <div class="page__body">
            <%- page.contents.body %>
          </div>
        </div>


        <div class="page__tags">
          <% page.tags.split(',').map((tag) => { %>
            <a href="#"><span><%= tag %></span></a>
            <% }) %>
          </div>

          <br><br>

          <div id="attachFiles"></div> <!-- react container -->



          <% if (!page.configurations.anonymously) { %>
            <div id="author"></div> <!-- react container -->
           <% } else { %>
             <p class="normal-paragraph disabled-message">This page has been created anonymously.</p>
           <% } %>


          <% if (page.configurations.rating) { %>
            <div id="rating"></div> <!-- react container -->
            <% } else { %>
              <p class="normal-paragraph disabled-message">Rating are unabled for this page.</p>
            <% } %>

        </div>
      </div>

      <% if (page.configurations.comments) { %>
        <div id="comments"></div> <!-- react container -->
      <% } else { %>
        <p class="normal-paragraph disabled-message-comments center-content">Comments are disabled for this page.</p>
      <% } %>


      <div id="snackbar"></div>
      <div class='cupertino-modal-container cupertino-modal-container--light display-none' id="loading-modal">
        <div class="cupertino-modal cupertino-modal--loading">
          <div class="cupertino-modal__content">
            <h3 id="loading-modal-message"></h3>
          </div>
          <div class="center-content">
            <div class="lds-css ng-scope">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


    <br><br><br><br><br>


    <footer class="footer">
      <div class="footer__text">
        Copyright &copy; 2019 Pagher, Inc.
      </div>
       <ul class="footer__nav">
           <li class="footer__link"><a href="javascript:void(0);">Support</a></li>
           <li class="footer__link"><a href="javascript:void(0);">Contact us</a></li>
           <li class="footer__link"><a href="javascript:void(0);">Terms of Use</a></li>
           <li class="footer__link"><a href="javascript:void(0);">Privacy Policy</a></li>
       </ul>
       <div class="footer__right">
         <span class="footer__theme-text">Dark Theme:</span>
         <span class="footer__theme-light"></span>
         <label class="switch">
            <input type="checkbox" onchange="changeTheme()">
            <span class="slider round"></span>
          </label>
          <span class="footer__theme-dark"></span>
       </div>
    </footer>

<script>

// On change theme swith changed
function changeTheme() {
  var lightThemeStyles = document.querySelectorAll("link[href='/light-theme-style.css']")[0];
  stylesLink.href = "/dark-theme-style.css";
}

// If user profile image couldn't render, then show user placeholer default image
var userImages = document.querySelectorAll(".js--user-image")
for (var i = 0; i < userImages.length; i++) {
  userImages[i].addEventListener('error', function (e) {
    e.target.src = "/images/users/placeholder.png";
  })
}

function navDropdownClicked(e) {
	document
		.querySelector("#js--nav-dropdown-slider-content")
		.classList.toggle("display-none");
	e.target.classList.toggle("nav-dropdown-slider__button--active");
}

function navOpenerClicked() {
	var navItems = document.querySelector(".navigation-sm__hidden");
	if (navItems.classList[1] === "display-none") {
		navItems.classList.remove("display-none");
	} else {
		navItems.classList.add("display-none");
	}
}

var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
	if (this.status === 200) {
		try {
			document.querySelectorAll(".js--user-image")[0].src = JSON.parse(
				this.response
			).user.photo;

			document.querySelectorAll(".js--user-image")[1].src = JSON.parse(
				this.response
			).user.photo;
		} catch (e) {}
		document
			.querySelector("#js--nav-dropdown-md")
			.classList.remove("display-none");
		document
			.querySelector("#js--nav-dropdown-sm")
			.classList.remove("display-none");
		document.querySelector("#js--login-md").classList.add("display-none");
		document.querySelector("#js--login-sm").classList.add("display-none");
	} else if (this.status === 401) {
		document.querySelectorAll(".js--create-page")[0].href =
			"/login?redirected=new-page";
		document.querySelectorAll(".js--create-page")[1].href =
			"/login?redirected=new-page";
		document
			.querySelector("#js--nav-dropdown-md")
			.classList.add("display-none");
		document
			.querySelector("#js--nav-dropdown-sm")
			.classList.add("display-none");
		document.querySelector("#js--login-md").classList.remove("display-none");
		document.querySelector("#js--login-sm").classList.remove("display-none");
	}
};
xhttp.open("POST", "/auth", true);
xhttp.setRequestHeader("authorization", localStorage.getItem("token"));
xhttp.send();
</script>

    <script src="/bundle.js"></script>
  </body>
  </html>
